aside
    nav 
        a(class="logo" href="#" id="aside-logo")
            i.bx.bx-menu#menu-aside
            img(src="/assets/icons/youtube-logo.png")#yt-logo

        nav.aside-menu
            a(href="#")
                img(src="/assets/icons/yt-home.svg" alt="")
                | Home

            a(href="#")
                img(src="/assets/icons/yt-subscription.svg" alt="")
                | Subscriptions

            a(href="#")
                img(src="/assets/icons/yt-lib.svg" alt="")
                | Library

            hr

            a(href="#")
                img(src="/assets/icons/yt-history.svg" alt="")
                | History

            a(href="#")
                img(src="/assets/icons/yt-your-videos.svg" alt="")
                | Your videos

            a(href="#")
                img(src="/assets/icons/yt-watch-later.svg" alt="")
                | Watch later

            a(href="#")
                img(src="/assets/icons/yt-liked.svg" alt="")
                | Liked videos

            a(href="#")
                i.bi.bi-chevron-down
                | Show more
            hr

            p
                | Explore
            a(href="#")
                i.bi.bi-fire
                | Trending
            a(href="#")
                i.bi.bi-music-note
                | Music
            a(href="#")
                img(src="/assets/icons/yt-live.svg" alt="")
                | Live
            a(href="#")
                i.bi.bi-controller
                | Gaming
            a(href="#")
                img(src="/assets/icons/yt-news.png" alt="")
                | News
            a(href="#")
                i.bi.bi-trophy
                | Sports
            a(href="#")
                img(src="/assets/icons/yt-learn.svg" alt="")
                | Learning
            a(href="#")
                img(src="/assets/icons/yt-fashion.svg" alt="")
                | Fashion